body {
    font-family: 'Roboto', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

.line-through {
    text-decoration: line-through;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    padding: 8px 18px;
    color: #fff;    
    background: linear-gradient(to right, rgb(190, 38, 122), rgb(102, 0, 128) 60%)
}

#addBtn {
    border: none;
    color: rgb(74, 74, 228);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 600px;
    justify-items: center;
    width: 360px;
}

form {
    margin: 20px 0;
}

.content{
    margin: 0;
    padding: 0;
}


#todo-input {
    width: 296px;
    height: 22px;
    background-color: rgba(240, 240, 240, 0.6);

    border-image: linear-gradient(to left, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 1px;
}
.list{
    border-top: 1px solid rgba(240, 240, 240, 0.6);
    width: 105%;
    font-weight: bold;
    overflow: auto;
}

.holder {
    display: flex;
    align-items: center;
    background: rgba(240, 240, 240, 0.6);
    padding: 3px 8px;
    border-radius: 5px;
    margin: 18px 0;
}

input[type=checkbox] {
    display: none;
}

label {
    margin-bottom: 0;
}

input[type=checkbox] + label:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    letter-spacing: 10px;
    -webkit-font-smoothing: antialiased;
}

input[type=checkbox] + label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f0c8";
}

input[type=checkbox]:checked + label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f14a";
}

.fa-square, .fa-times , .fa-check-square{
    cursor: pointer;
}

.fa-times {
    margin-left: auto;
    color: rgb(74, 74, 228);
}

@media only screen and (min-width: 768px){
    .container {        
        border: 1px solid #8f1d5c;
        margin-top: 40px;
        width: 720px;
        border-radius: 5px;
        height: auto;
    }

    #todo-input {
        width: 598px;
    }

    .list {
        width: 91%;
    }
}